@import "_config.sass"
    
//============================================================================//

.InfoCard

  border: 2px solid $Colour_Borders
  background: $Colour_Light
  display: inline-block
  margin-bottom: 1em

  > img
    display: inline
    vertical-align: top

  > div
    display: inline-table
    margin-left: 1rem
    
    > div
      display: table-row
    
      strong, span, a
        padding-right: 1rem
        display: table-cell
        vertical-align: middle
        color: black
        
#AboutCard > *
  height: 160px
  
#ContactCard > *
  height: 120px

//============================================================================//

.VideoWrapper

  position: relative
  padding-bottom: 56.25%
  height: 0

  > iframe
    position: absolute
    width: 100%
    height: 100%

.Screenshot
  position: relative
  width: 100%

//============================================================================//

+respond_to(COMPACT)
  #SnakeFlex
    display: none
      
+respond_to(COMPLETE)

  #SnakeError
    display: none

  #SnakeFlex
    display: flex
    flex-direction: row

  #SnakeInfo
    margin: 16px 8px 16px 0px
    border: 2px solid $Colour_Borders
    background: $Colour_Light
    flex: 1
  
    > p
      margin: 1em

  #SnakeCanvas
    margin: 16px 0px 16px 8px
    width: 440px
    height: 440px
    flex: 0
  
//============================================================================//

#SideBarMessage > div

  width: 100%

//============================================================================//

#SideBarMessage > div > label

  background: $Colour_Frames
  border: 1px solid $Colour_Borders
  border-bottom: 0
  border-radius: 4px 4px 0px 0px

  height: calc(1em + 9px)
  padding: 4px
  margin-right: auto
  
  color: white
  display: inline-block

//============================================================================//

#SideBarMessage > div > input

  background: $Colour_Lighter
  border: 1px solid $Colour_Borders
  border-radius: 0px 2px 2px 2px
  color: black

  height: calc(1.15em + 10px)
  width: 100%
  padding: 4px
  margin-bottom: 8px

  display: block
  
//============================================================================//

#SideBarMessage > div > textarea

  background: $Colour_Lighter
  border: 1px solid $Colour_Borders
  border-radius: 0px 2px 2px 2px

  height: calc(4.6em + 10px)
  width: 100%
  padding: 4px
  margin-bottom: 8px

  display: block
  resize: none

//============================================================================//
  
#SideBarMessage > button

  +basic_button_colours()

  border: 1px solid $Colour_Borders
  border-radius: 2px

  width: 100%
  padding: 6px

  color: white
  display: inline-block

