<!doctype html>

{# -------------------------------------------------------------------------- #}

<head>
{% block Head %}

  <meta charset="UTF-8">
  <title>{% block Title %}{% endblock %} | jagoly.net</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700">
  <link rel="stylesheet" href="static/styles/normalize.css">
  <link rel="stylesheet" href="static/styles/default.css">
  <link rel="stylesheet" href="static/styles/extras.css">

{% endblock Head %}
</head>

<body>

{# -------------------------------------------------------------------------- #}

<header>
{% block Header %}

  <span class=HeaderTitle>
    <a href="index.html">JAGOLY.NET</a>
  </span>

  <div class=HeaderNavigation>

    <nav class=NavMenuRootLayout>
      <a class=NavMenuItem href="about.html">ABOUT</a>
      <a class=NavMenuItem href="contact.html">CONTACT</a>
      <a class=NavMenuItem id=nmItemSnake href="snake.html"><img src="static/images/icons/SNAKE.png" alt="SNAKE Logo"></a>
    </nav>

    <form class=HeaderSearch action="search.html" method="get">
      <input type="search" name="query" placeholder="search...">
    </form>

  </div>

{% endblock Header %}
</header>

{# -------------------------------------------------------------------------- #}

<div id=Showcase>

  <input id=ToggleShowcase type="checkbox" role="button">
  <label for=ToggleShowcase></label>

  <div id=ShowcaseBanner>
    <a title="LibSQEE" href="libsqee.html">
      <img src="static/images/banner/LibSQEE.png" alt="LibSQEE">
      <span>LibSQEE</span>
    </a>
    <a title="SQEE RPG" href="sqee_rpg.html">
      <img src="static/images/banner/SQEE_RPG.jpg" alt="SQEE RPG">
      <span>SQEE RPG</span>
    </a>
    <a title="SuperTuxSmash" href="supertuxsmash.html">
      <img src="static/images/banner/SuperTuxSmash.jpg" alt="SuperTuxSmash">
      <span>SuperTuxSmash</span>
    </a>
  </div>

</div>

{# -------------------------------------------------------------------------- #}

<div id=Content>
{% block Content %}

  <main>
  {% block Main %}

  {% endblock Main %}
  </main>

{% endblock Content %}
</div>

{# -------------------------------------------------------------------------- #}

<footer>
{% block Footer %}

  <p>© 2017 James Gangur</p>
  <a href="https://github.com/jagoly/jagoly-website">This Site on GitHub</a>

{% endblock Footer %}
</footer>

{# -------------------------------------------------------------------------- #}

</body>
