{% extends "_/base.html" %}

{% block Title %}About{% endblock Title %}

{% block Main %}

  <section>

    <h1>About Me</h1>

    <div class=InfoCard id=AboutCard>
      <img src="static/images/Portrait.jpg" alt="photo of james gangur">
      <div>
          <div><strong>Handle:</strong><span>Jagoly</span></div>
          <div><strong>Name:</strong><span>James Gangur</span></div>
          <div><strong>Occupation:</strong><span>Software Developer</span></div>
          <div><strong>Origin:</strong><span>Darwin, NT</span></div>
      </div>
    </div>

    <section>
      <h2>Introduction</h2>
      <p>I'm a young developer with a few years of experience in a number of areas. Some of my strengths include C++, OpenGL and 3D Graphics, Python, and Qt. I've dabbled in many areas of the game asset pipeline, and have written some export plugins for blender. I've got a good understanding of web technologies, but they are not my speciality.</p>
      <p>I'm a passionate advocate for open-source and cross-platform software. I've developed for both free and propietary systems. GNU/Linux has been my primary environment since 2010, and I currently use Ubuntu.<p>
      <p>On this site you can check out some of my projects, as well find out how to contact me.</p>
    </section>

  </section>

{% endblock Main %}
