{% extends "_/base.html" %}

{% block Title %}About{% endblock Title %}

{% block Main %}

  <section>

    <h1>About Squeaky Software</h1>

    <section>
      <h2>Who are we?</h2>
      <p>Sheet take a caulk Chain Shot topmast Shiver me timbers stern lookout red ensign list American Main. Starboard Cat o'nine tails hulk come about interloper haul wind tackle Pirate Round dance the hempen jig skysail. Broadside hulk aye gally bilge rigging bounty Brethren of the Coast swing the lead marooned.</p>
      <p>Lugsail sutler brig fire in the hole pink avast red ensign topgallant belay loot. Flogging matey jack hempen halter hail-shot Jolly Roger bowsprit lookout deadlights six pounders. Lugger rigging jolly boat come about bilge water me driver clap of thunder deadlights broadside.</p>
    </section>

    <section>
      <h2>Other relevant information</h2>
      <p>Somebody once told me the world is gonna roll me<br>I ain't the sharpest tool in the shed<br>She was looking kind of dumb with her finger and her thumb<br>In the shape of an "L" on her forehead</p>
      <p>Well, the years start coming and they don't stop coming<br>Fed to the rules and I hit the ground running<br>Didn't make sense not to live for fun<br>Your brain gets smart but your head gets dumb<br>So much to do, so much to see<br>So what's wrong with taking the backstreets?<br>You'll never know if you don't go<br>You'll never shine if you don't glow</p>
      <p>Hey now, you're an All Star<br>Get your game on, go play<br>Hey now, you're a Rock Star<br>Get the show on, get paid<br>And all that glitters is gold<br>Only shooting stars break the mold</p>
    </section>

  </section>

{% endblock Main %}
