{% extends "_/base.html" %}

{% block Title %}About{% endblock Title %}

{% block Main %}

  <section>

    <h1>About Me</h1>

    <div class=InfoCard id=AboutCard>
      <img src="static/images/Portrait.png" alt="photo of james gangur">
      <div>
          <div><strong>Handle:</strong><span>Jagoly</span></div>
          <div><strong>Name:</strong><span>James Gangur</span></div>
          <div><strong>Occupation:</strong><span>Software Developer</span></div>
          <div><strong>Origin:</strong><span>Darwin, NT</span></div>
      </div>
    </div>

    <section>
      <h2>Introduction</h2>
      <p>I'm a young developer with a few years of experience in a number of areas. Some of my strengths include C++, OpenGL and 3D Graphics, Python, and Qt. I've got a strong understanding of 3D modelling using blender. I've got a good understanding of web technologies, but they are not my speciality. I've got a good understanding of many aspects of application development, having written a featureful game engine myself.</p>
      <p>I work well in a team, both in and out of leadership roles. I am strongly motivated to always produce the highest quality work. I'm a quick learner with a powerful drive to improve my knowledge.</p>
      <p>I'm a passionate advocate for open-source and cross-platform software. I've developed for both free and propietary systems.<p>
    </section>

    <section>
      <h2>Other relevant information</h2>
      <p>Somebody once told me the world is gonna roll me<br>I ain't the sharpest tool in the shed<br>She was looking kind of dumb with her finger and her thumb<br>In the shape of an "L" on her forehead</p>
      <p>Well, the years start coming and they don't stop coming<br>Fed to the rules and I hit the ground running<br>Didn't make sense not to live for fun<br>Your brain gets smart but your head gets dumb<br>So much to do, so much to see<br>So what's wrong with taking the backstreets?<br>You'll never know if you don't go<br>You'll never shine if you don't glow</p>
      <p>Hey now, you're an All Star<br>Get your game on, go play<br>Hey now, you're a Rock Star<br>Get the show on, get paid<br>And all that glitters is gold<br>Only shooting stars break the mold</p>
    </section>

  </section>

{% endblock Main %}
