{% extends "_/base.html" %}

{% block Title %}Contact{% endblock Title %}

{% block Main %}

  <h1>Contact Me</h1>
  <div class=InfoCard id=ContactCard>
    <div>
      <div><strong>Email:</strong><span><a href="mailto:james.gangur@gmail.com">james.gangur@gmail.com</a></span></div>
      <div><strong>StackOverflow:</strong><span><a href="https://stackoverflow.com/users/3326595/jagoly">stackoverflow.com/users/3326595/jagoly</a></span></div>
      <div><strong>GitHub:</strong><span><a href="https://github.com/jagoly">github.com/jagoly</a></span></div>
    </div>
  </div>

{% endblock Main %}
