{% extends "_/base.html" %}

{% block Title %}LibSQEE{% endblock Title %}

{% block Main %}

  <section>

    <h1>LibSQEE Project Showcase</h1>

    <section>
      <h2>Overview</h2>
      <p>SQEE, or "Sassy Quick Expandable Engine", is a game engine library and framework written in C++. It's primary component, LibSQEE, is a library containing all sorts of useful stuff for 3D applications, particularly games.</p>
      <p>Features include:</p>
      <ul>
        <li>concise OpenGL object wrappers</li>
        <li>building blocks like Application and Scene classes</li>
        <li>helpers for intergration with chaiscript</li>
        <li>Texture, Mesh, Armature, Material, etc. classes for assets</li>
        <li>templates for building asset cache or manager systems</li>
        <li>window and input on top of SFML, with support for other backends</li>
        <li>cross platform, runs on Linux and Windows, with Android planned</li>
        <li>much more!</li>
      </ul>
    </section>

    <section>
      <h2>Information</h2>
      <p>SQEE is Open Source software - <strong><a href="https://github.com/jagoly/sqee">Check it out on GitHub!</a></strong></p>
    </section>

  </section>

{% endblock Main %}
