{% extends "_/base.html" %}

{% block Title %}SQEE{% endblock Title %}

{% block Main %}

  <section>

    <h1>SQEE Project Showcase</h1>

    <section>
      <h2>Videos</h2>
      <h3>Amazing Particle Demonstration!</h3>
      <div class=VideoWrapper><iframe src="https://www.youtube.com/embed/2lkcqZirWmI?ecver=1" allowfullscreen></iframe></div>
      <h3>Incredible Physics Preview!</h3>
      <div class=VideoWrapper><iframe src="https://www.youtube.com/embed/vZJljf17jLw?ecver=1" allowfullscreen></iframe></div>
    </section>

    <section>
      <h2>Information</h2>
      <p>SQEE is Open Source software - <strong><a href="https://github.com/jagoly/sqee">Check it out on GitHub!</a></strong></p>
    </section>
  
  </section>

{% endblock Main %}
