{% extends "_/base.html" %}

{% block Title %}SQEE RPG{% endblock Title %}

{% block Main %}

  <section>

    <h1>SQEE RPG Project Showcase</h1>

    <section>
      <h2>Overview</h2>
      <p>SQEE RPG is a complete game engine using LibSQEE. It's formost aim is to allow the creation of a high quality 3D Action Role Playing Game. Development has stalled, as I am now focusing on SuperTuxSmash.</p>
      <p>Features include:</p>
      <ul>
        <li>fast deferred high dynamic range rendering</li>
        <li>volumetric lighting for directional, orthographic, point and spot lights</li>
        <li>scenes defined completely within chaiscript</li>
        <li>adjustable cascading shadow maps with stable projection</li>
        <li>soft shadows with high quality filtering</li>
        <li>Screen Space Ambient Occlusion and Bloom effects</li>
        <li>frustum culling and depth pre-pass for all objects</li>
        <li>fast data-oriented entity design with decoupled rendering</li>
        <li>much more!</li>
      </ul>
    </section>

    <section>
      <h2>Videos</h2>
      <h3>Old Particle Demonstration</h3>
      <div class=VideoWrapper><iframe src="https://www.youtube.com/embed/2lkcqZirWmI?ecver=1" allowfullscreen></iframe></div>
      <h3>Old Physics Demonstration</h3>
      <div class=VideoWrapper><iframe src="https://www.youtube.com/embed/vZJljf17jLw?ecver=1" allowfullscreen></iframe></div>
    </section>

    <section>
      <h2>Information</h2>
      <p>SQEE is Open Source software - <strong><a href="https://github.com/jagoly/sqee/tree/master/tests/rpg">Check it out on GitHub!</a></strong></p>
    </section>

  </section>

{% endblock Main %}
