{% extends "_/base.html" %}

{% block Title %}SuperTuxSmash{% endblock Title %}

{% block Main %}

  <section>

    <h1>SuperTuxSmash Project Showcase</h1>

    <section>
      <h2>Overview</h2>
      <p>SuperTuxSmash, or STS for short, is an open source fighting game in the style of Super Smash Bros from Nintendo. I hope for it to be to Smash Bros what SuperTuxKart is to Mario Kart.</p>
      <p>STS is built on top of LibSQEE.</p>
    </section>

    <section>
      <h2>Screenshots</h2>
      <img class=Screenshot src="static/images/SuperTuxSmashA.png" alt="Screenshot of SuperTuxSmash">
    </section>

    <section>
      <h2>Information</h2>
      <p>SuperTuxSmash is Open Source software - <strong><a href="https://github.com/jagoly/SuperTuxSmash">Check it out on GitHub!</a></strong></p>
    </section>

  </section>

{% endblock Main %}
